* {
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    background-color: aqua;
    border-color: black;
    border-style: double;
    padding: 20px;
    margin: 20px;

}
#ilkyazı {
    text-align: center;
    font-size: 15px;
    color:brown;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    color: blueviolet;

}
.tanım {
    text-align: center;
    color: brown;
    font-size: 20px;
    font-style: italic;
    border-style: dashed;
    border-radius: 30px;
    border-width: 2px;
    border-color:black;
    padding: 20px;
    margin: 20px;
    text-transform: capitalize;
    background-color: azure;
}
.resim {
  position:relative;
  text-align: center;
  margin-left: 450px;
  padding: 30px;
}

